<div class="container" role="main">

  <mat-label><h2>Peliculas</h2></mat-label>
  <br>
          <mat-label><h2>Obtener peliculas</h2></mat-label>
          <div class="example-button-row">
            <button mat-flat-button color="secondary"  (click)="getAll()">Obtener todas las peliculas</button>          
          </div>

          <mat-label><h2>Obtener pelicula Especifica</h2></mat-label>
          <br>
            <input [(ngModel)]="idBuscarPelicula" type="text">            
            <div class="example-button-row">
              <button mat-flat-button color="secondary"  (click)=" getSpecificMovie()">Buscar Pelicula</button>          
            </div>
            <br>
            W
            <br>
            <mat-label><h2>Guardar Pelicula</h2></mat-label>
            <br>
            <div> Titulo 
              <input [(ngModel)]="tituloGuardar"  type="text">            
              
            </div>
            <div>
              Año 
              <input [(ngModel)]="anioGuardar" type="text">  

            </div>
            <div>
              Duracion
              <input [(ngModel)]="duracionGuardar" type="text">  
            </div>
            <div>
              <button mat-flat-button color="secondary"  (click)=" saveMovie()">Buscar Pelicula</button>          
            </div>
          
            <br>
            <br>
            <mat-label><h2>Editar Pelicula</h2></mat-label>
            <br>
            <div> ID PELICULA 
              <input [(ngModel)]="idEditar"  type="text">            
              
            </div>
            <div> Titulo 
              <input [(ngModel)]="tituloEditar"  type="text">            
              
            </div>
            <div>
              Año 
              <input [(ngModel)]="anioEditar" type="text">  

            </div>
            <div>
              Duracion
              <input [(ngModel)]="duracionEditar" type="text">  
            </div>
            <div>
              <button mat-flat-button color="secondary"  (click)=" editMovie()">Editar  Pelicula</button>          
            </div>
            <br>
            <br>
            <mat-label><h2>Eliminar Pelicula </h2></mat-label>
            <br>
            <div> ID PELICULA 
              <input [(ngModel)]="idEliminar"  type="text">            
            </div>
            <div>
              <button mat-flat-button color="secondary"  (click)=" deleteMovie()">Eliminar  Pelicula</button>          
            </div>
          
          
</div>